.home{
    width:100%;
    height: 100vh;
}
.home h1{
    text-align: center;
    margin-top: 20%;
    font-size: 50px;
}
.home p{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}
.home-btn{
    display: flex;
    justify-content: center;
    background-color: rgb(241, 91, 4);
    color: white !important;
    border: 2px solid rgb(144, 53, 0);
    border-radius: 10px;
    padding: 15px 15px;
    font-weight: bold;
    box-shadow: 2px 2px 5px grey;
}
.home-btn:hover{
    background-color: rgb(254, 122, 46);
    color: white !important;
    transition: 0.3s;
    transform: scale(1.1);
    box-shadow: 2px 2px 10px grey;
}