/* Navbar CSS */
.user-png img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.navbar-brand{
    color: rgb(241, 91, 4);
    font-size: 30px;
}
.btn-nav{
    background-color: rgb(241, 91, 4);
    color: white !important;
    border: 2px solid rgb(144, 53, 0);
    border-radius: 10px;
    margin-left: 10px;
    padding: 5px 15px;
    font-weight: bold;
    margin-bottom: 0.5rem;
     box-shadow: 2px 2px 5px grey;
    /* width: 50%; */
}
.btn-nav:hover{
    background-color: rgb(254, 122, 46);
    color: white !important;
    transition: 0.3s;
    transform: scale(1.1);
    box-shadow: 2px 2px 10px grey;
}
@media only screen and (max-width: 991px) {
    .btn-nav{
        padding: 5px 10px;
        font-size: 14px;
        width: 80%;
        margin-top: 0.5rem;
        display: flex;
        justify-items: center;
        justify-content: center;
    }

    .btn-nav:hover{
    transform: scale(1.02);
}
}
.id{
    /* background-color: rgb(222, 222, 222); */
    border-radius: 50px;
    border: none;
    padding: 1px;
    margin-left: 10px;
    
}